<%unless flash[:danger]==nil%>
<p><%= flash[:danger] %></p>
<%end%>
<div class="div-form-container">
  <div class="form-container">
  <h2>Login</h2>
    <%= form_tag '/login' do %>
  <%=label_tag 'Name:' %>
  <%= text_field_tag :name, '', class: 'form-control'  %>
  <%=label_tag 'Password:' %>
  <%= password_field_tag :password, '', class: 'form-control'  %>
  <%= submit_tag "Submit", class: "btn btn-primary btn-block"%>
<% end %>
</div>
</div>