<%unless flash[:danger]==nil%>
<p><%= flash[:danger] %></p>
<%end%>

<div class="div-form-container">
  <div class="form-container">
<%= form_tag '/add_article', multipart: true do %>
  <%=label_tag 'title: ' %>
  <%= text_field_tag :title, '', class: 'form-control' %>
  <%=label_tag 'content: ' %>
  <%= text_area_tag :text, '', class: 'form-control', rows: 10, cols: 25 %>
  <%=label_tag 'image: ' %> 
  <%= file_field_tag :image, class: 'form-control' %>
  <ul>
  <% @categories.each do |category| %>
      <li class="col-12 row">
        <%=label_tag category.name, category.name, class: "col-6" %>
        <%= check_box_tag "category_ids[]", category.id, false, class: 'form-control col-6' %>
      </li>
  <% end %>
</ul>
  <%= submit_tag "Submit", class: 'btn btn-primary btn-block' %>
<% end %>
</div>
</div>

