<%unless flash[:danger]==nil%>
<p><%= flash[:danger] %></p>
<%end%>
<div class="div-form-container">
  <div class="form-container">
  <h2>Sign Up</h2>
    <%= form_tag '/signup' do %>
  <%=label_tag 'Name:' %>
  <%= text_field_tag :name, '', class: 'form-control' %>
  <%=label_tag 'Email:' %>
  <%= text_field_tag :email, '', class: 'form-control' %>
  <%=label_tag 'Password:' %>
  <%= password_field_tag :password,'', class: 'form-control' %>
  <%=label_tag 'Password Confirmation:' %>
  <%= password_field_tag :password_confirmation ,'', class: 'form-control' %>
  <%= submit_tag "Sign Up", class: "btn btn-primary btn-block"%>
<% end %>
</div>
</div>
