
<div class="all-articles">
<%@articles.each_with_index do |article, i|%>
<div class="article-card" style="flex-direction: <%= ((i/2).floor() % 2 == 0 ? 'row' : 'row-reverse') %>;">
<div class="all-articles-img" style="background-image: url(<%=article.picture%>)"></div>
<article class="all-articles-art">
<h5><%=@category.name%></h5>
<h5><%=article.title%></h5>
<p><%=(article.text[0,150]+'...') %></p>
<%= link_to "Read More", "/show_article?id=#{article.id}" %> 
</article>
</div>
<%end%>
</div>


<!--
<%@articles.each do |article|%>
<h3><%=article.title%></h3>
<div style="width:400px; height: auto;">
<%= image_tag(article.image, style:"width:100%") if article.image.attached?%>
</div>
<p><%=article.text%></p>
<%end%>
-->
